data/cache/*
data/raw/*
data/processed/*
__pycache__/
*.pyc
.env
.idea/
venv/
tests/*
application_default_credentials.json
gke_deployment/configmap.yaml
gke_deployment/deployment.yaml
gke_deployment/keda-scaledobject.yaml
gke_deployment/pdb.yaml
